<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.evilstan.utilitybills">

  <application
    android:allowBackup="true"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:name=".App"
    android:roundIcon="@drawable/icon"
    android:supportsRtl="true"
    android:theme="@style/Theme.UtilityBills">
    <activity
      android:exported="false"
      android:name=".activities.Test" />
    <activity
      android:exported="false"
      android:name=".activities.FirstLaunchKt" />
    <activity
      android:exported="false"
      android:name=".activities.FirstLaunchSettingActivity" />
    <activity
      android:exported="false"
      android:name=".activities.AddApartmentActivity" />
    <activity
      android:exported="false"
      android:name=".activities.AddMonthlyPaymentActivity" />
    <activity
      android:exported="true"
      android:name=".activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>